body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #0f172a;
    color: #e2e8f0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #020617;
}

nav a {
    color: #cbd5f5;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.hero-text span {
    color: #38bdf8;
}

/* Profile */
.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #38bdf8;
    object-fit: cover;
}

/* Welcome */
.welcome {
    background: #020617;
    margin: 30px 60px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

/* Cards */
.card {
    background: #020617;
    margin: 30px 60px;
    padding: 30px;
    border-radius: 12px;
}

/* Headings */
h2 {
    color: #38bdf8;
}

/* Skills & Interests */
.skills span,
.interests span {
    background: #1e293b;
    color: #e2e8f0;
    padding: 10px 15px;
    margin: 6px;
    display: inline-block;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.3s;
}

.skills span:hover,
.interests span:hover {
    background: #38bdf8;
    color: black;
}

/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    background: #1e293b;
    color: #e2e8f0;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    background: #38bdf8;
    color: black;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0ea5e9;
}

/* Success message */
#successMsg {
    text-align: center;
    margin-top: 10px;
    color: #38bdf8;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: #94a3b8;
}
.popup {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #38bdf8;
    color: black;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.4s ease;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

/* Show popup */
.popup.show {
    opacity: 1;
    transform: translateY(0);
}